<H1>Welcome to Exchange Currency Application</H1>

<div *ngIf="currentExchangeCurrency">
    <div ><table border="1" width =60%>
    <thead>
      <tr>
        <th>GBP</th>
        <th>USD</th>
        <th>HKG</th>
    </tr>
      <tr>
          <td>{{result.GBP}}</td>
          <td>{{result.USD}}</td>
          <td>{{result.HKD}}</td>
          
      </tr>
    </thead>
     </table>
  </div>
</div>
  <br>
<br>
<br>
<br>




<div *ngIf="historyExchangeCurrency">

                  <table>
                    <tr>
                      <th>Month1</th>
                      <th>Month2</th>
                      <th>Month3</th>
                      
                    </tr>
                    <tr *ngFor="let item of historyExchangeCurrencyResult">
                        <td>{{item.GBP}}</td>
                      <td>{{item.USD}}</td>
                      <td>{{item.HKG}}</td>
                    </tr>
                  </table>
                
              
            
</div>
  <div>
        <button (click)=historyCurrency() class="btn btn-success">HistoryCurrencyExchange</button>

  </div>